{deps,
 [{clojerl,
   {git, "https://github.com/antlobach/clojerl.git", {tag, "0.9.1"}}},
  {cowboy, "2.13.0"}]}.

{plugins,
 [{rebar3_clojerl, "0.8.8"}]}.

{profiles,
 [{example,
   [{deps,
     [{chassis,
       {git, "https://github.com/antlobach/chassis-clojerl.git",
        {ref, "201b09e2168964e59df13b332f40037952472762"}}}]},
    {clje_src_dirs, ["src", "examples"]}]},
  {http3,
   [{deps, [{quicer, "0.4.3"}]},
    {overrides,
     [{override, cowboy,
       [{erl_opts, [debug_info, {d, 'COWBOY_QUICER', 1}]}]}]}]}]}.
